<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Customertype:</b>
  <%= @customer.customertype_id %>
</p>

<p>
  <b>Customerstatus:</b>
  <%= @customer.customerstatus %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
